.header {
  --shadow: 10px;

  background-color: var(--color-background);

  box-shadow: 0 var(--shadow) var(--shadow) var(--color-gray-light);
  position: relative;

  /* NOTE: (@abachman-dsac) we have to override the uswds default max-width because
     it conflicts with the CMS Design System's grid system max-width  */
  & :global(.usa-nav-container) {
    margin-inline: auto;
    max-width: var(--site-max-width);
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  margin-right: 0.5rem;
  width: 8.875rem;
}

.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoText {
  color: var(--theme-color-primary-darkest, #00395e);

  /* Headings/2xl/2xl - all breakpoints */
  font-family: var(--theme-font-family-heading, "Open Sans");
  font-size: var(--theme-font-size-2xl, 1.5rem);
  font-style: normal;
  font-weight: var(--theme-font-weight-heading-2xl, 700);
  line-height: 130%; /* 1.95rem */
  overflow: hidden;
  text-overflow: ellipsis;
}

.betaBadge {
  align-items: center;
  background: #0071bc;
  margin-left: 0.5rem;
  padding: var(--spacer-half, 0.25rem) var(--spacer-1, 0.5rem);

  /* typeography */
  color: var(--component-badge-font-color--info, #fff);
  /* Body/Small */
  font-family: var(--theme-font-family-body, "Open Sans");
  font-size: var(--theme-font-size-sm, 0.875rem);
  font-style: normal;
  font-weight: var(--theme-font-weight-body-sm, 400);
  line-height: 150%; /* 1.3125rem */
}

.submenuList a:focus {
  background-color: transparent !important;
  outline: 0.25rem solid #2591ff !important;
}
