.h1 {
  color: var(--theme-color-base, #262626);

  /* Headings/3xl/3xl - LG breakpoint */
  font-family: var(--theme-font-family-heading, "Open Sans");
  font-size: var(--theme-font-size-3xl, 2.25rem);
  font-style: normal;
  font-weight: var(--theme-font-weight-heading-3xl, 400);
  line-height: 130%; /* 2.925rem */
}

.h2 {
  color: var(--theme-color-base, #262626);

  /* Headings/2xl/2xl - all breakpoints */
  font-family: var(--theme-font-family-heading, "Open Sans");
  font-size: var(--theme-font-size-2xl, 1.5rem);
  font-style: normal;
  font-weight: var(--theme-font-weight-heading-2xl, 700);
  line-height: 130%; /* 1.95rem */
}

.h3 {
  color: var(--theme-color-base, #262626);

  /* Headings/XL - all breakpoints */
  font-family: var(--theme-font-family-heading, "Open Sans");
  font-size: var(--theme-font-size-xl, 1.3125rem);
  font-style: normal;
  font-weight: var(--theme-font-weight-heading-xl, 700);
  line-height: 130%; /* 1.70625rem */
}

.code {
  color: var(--color-success-darker);
  background: var(--color-gray-lightest);
  border-radius: var(--radius-default);
  font-family: monospace;
  padding: 0 0.25rem;
}

.pre {
  background-color: var(--color-gray-lightest);
  color: var(--color-gray-darker);
  padding: 1em;
  border: 1px solid var(--color-gray-lighter);
  overflow-x: auto; /* horizontal scrollbar instead of expanding */

  & .code {
    color: var(--color-gray-darker);
    background: inherit;
    border-radius: 0;
    padding: inherit;
  }
}
