.entry {
  & .name {
    color: #1e3c70;

    font-family: var(--theme-font-family-body, "Open Sans");
    font-size: var(--theme-font-size-lg, 1.5rem);
    font-style: normal;
    font-weight: var(--theme-font-weight-heading-md, 700);
    line-height: 130%; /* 1.3rem */

    text-decoration: none;
  }

  & .head {
    display: flex;
    align-items: bottom;
    justify-content: space-between;
  }
}

.input {
  --height: 2.8rem;

  display: flex;
  align-items: bottom;
  justify-content: start;

  & input {
    height: var(--height);
    margin: 0 !important;
  }

  & button {
    height: var(--height);
    margin-left: 1rem;
  }
}
