name: halloween
services: 
  db-migrations:
    image: 'flyway/flyway:10'
    env_file:
      - path: .env
        required: false
    environment:
      FLYWAY_URL: jdbc:postgresql://${NPD_DB_HOST:-db}:5432/${NPD_DB_NAME:-npd_development}
      FLYWAY_USER: ${NPD_DB_USER:-postgres}
      FLYWAY_PASSWORD: ${NPD_DB_PASSWORD:-postgres}
      FLYWAY_PLACEHOLDERS_apiSchema: ${NPD_DB_SCHEMA:-npd}
      FLYWAY_PLACEHOLDERS_superuserDefaultPassword: ""
    volumes:
      - '../flyway/sql:/flyway/sql'
    command: migrate -environment=development -outputType=json
