name: halloween
services: 
  db:
    image: 'postgres:17'
    env_file:
      - path: .env
        required: false
    environment:
      POSTGRES_DB: ${NPD_DB_NAME:-npd_development}
      POSTGRES_USER: ${NPD_DB_USER:-postgres}
      POSTGRES_PASSWORD: ${NPD_DB_PASSWORD:-postgres}
      PGUSER: ${NPD_DB_USER:-postgres}
    ports:
      - '${NPD_DB_PORT:-5432}:5432'
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d",  "${NPD_DB_NAME:-npd_development}"]
      interval: 10s
      timeout: 5s
      retries: 5
  db-migrations:
    image: 'flyway/flyway:10'
    env_file:
      - path: .env
        required: false
    environment:
      FLYWAY_URL: jdbc:postgresql://${NPD_DB_HOST:-db}:5432/${NPD_DB_NAME:-npd_development}
      FLYWAY_USER: ${NPD_DB_USER:-postgres}
      FLYWAY_PASSWORD: ${NPD_DB_PASSWORD:-postgres}
      FLYWAY_PLACEHOLDERS_apiSchema: ${NPD_DB_SCHEMA:-npd}
      FLYWAY_PLACEHOLDERS_superuserDefaultPassword: ""
      FLYWAY_LOCATIONS: "filesystem:./sql/migrations,filesystem:./sql/reference_data,filesystem:.sql/django_migrations,filesystem:.sql/django_reference_data"
    volumes:
      - '../flyway/sql:/flyway/sql'
    depends_on:
      - db
    command: migrate -environment=development -outputType=json
volumes:
  postgres_data:
