name: End to End Tests

permissions: {}

on:
  push:
    branches: [main, release]
  pull_request:
    branches: [main, release]

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-compose-action@v1
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      # build service containers required for `make test-server`
      - name: Build containers
        run: docker compose build db db-migrations django-web web
      - name: Install Playwright dependencies
        working-directory: playwright/
        run: npm ci
      - name: Install Playwright browsers
        working-directory: playwright/
        run: npx playwright install chromium --with-deps
      # this step starts the test web server via `make test-server`
      - name: Run Playwright tests
        working-directory: playwright/
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright/playwright-report/
          retention-days: 7
