name: Frontend Tests
permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4

      - name: Setup frontend
        working-directory: frontend
        run: |
          npm ci

      - name: Typecheck
        working-directory: frontend
        run: |
          npm run typecheck

      - name: Lint
        working-directory: frontend
        run: |
          npm run lint

      - name: Test
        working-directory: frontend
        env:
          VITE_API_BASE_URL: http://localhost:8000
        run: |
          npm run coverage
